header .navigation .button-wrap {
	-webkit-animation: appear 1s;
	opacity: 1;
}

.menu {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 100px 34px;
	box-sizing: border-box;
	font-family: "Roboto Condensed";
}

.menu .item {
	margin-bottom: 34px;
}

.menu .item:last-child {
	margin: 0;
}

.menu .item .image-box {
	height: 300px;
	width: 300px;
}

.menu .item .image-box img {
	height: 100%;
}

.menu .item .description {
	height: fit-content;
	overflow: hidden;
	background-color: #f7edee;
	padding: 1.5rem;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
    width: 60%;	
}

.menu .item .description .head-box {
	text-transform: uppercase;
    margin: 0;
    justify-content: space-between;	
}

.menu .item .description .head-box > *, .menu .item .description p {
	margin: 0;
}

.menu .item .description .head-box span {
	font-size: 1.17em;
}

.menu .item .description .head-box h3:after {
	content: "";
    width: 100px;
    height: 2px;
    border-bottom: 2px solid #000;
    display: block;
    margin: 10px 0 15px 0;
}

.menu .back {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
}

.menu .back img {
	width: 100%;
}