@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

@font-face {
	font-family: Space;
	src: url(../fonts/squarespace-ui-font.ttf);
}

@font-face {
    font-family: Roboto Thin;
    src: url(../fonts/roboto-condensed.light.ttf);
}

@keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes rev-appear {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes viezd {
    0%   { top: -70px; }
    100% { top: 0px; }
}

@keyframes zaezd {
    0%   { top: 0px; }
    100% { top: -70px; }
}

@keyframes onload-appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.none {
	display: none;
}

.animation {
    -webkit-animation: appear 0.3s;
}

.rev-animation {
    -webkit-animation: rev-appear 0.3s;
}

.nav-animation {
    -webkit-animation: zaezd .14s;
}

.link-active {
    color: #231f20 !important;
}

.menu-animate-top {
    transform: translateY(9px);
}

.menu-animate-bottom {
    transform: translateY(-9px);
}

.close-animate-one {
    transform: rotate(45deg);
}

.close-animate-two {
    transform: rotate(-45deg);
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

html, body {
	width: 100%;
	margin: 0;
}

body {
    overflow-x: hidden;
}

header {
	width: 100%;
	box-sizing: border-box;
}

#logo img {
	width: 100%;
	display: block;
}

header .navigation {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	background-color: white;
}

header .navigation .button-wrap {
    -webkit-animation: appear 1s;
    animation-delay: 1s;
    opacity: 0;
}

header .navigation-bar {
	position: fixed;
	padding: 5px 0;
	width: 100%;
	z-index: 2;
    background-color: rgba(255,255,255,.95);
    -webkit-animation: viezd .14s ease-in-out;
}

header .navigation div:hover > a, header .navigation-bar div:hover > a {
	color: #231f20;
}

header .navigation a, header .navigation-bar a, #full-nav div a {
	display: block;
	font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75em 1em;
    color: rgba(83,105,116,.7);
    transition: 0.75s;
    line-height: 1em;
}

header .mobile-nav {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 20px;
    left: 20px;
    z-index: 200;
}

header .menu-line {
    width: 30px;
    height: 3px;
    background-color: rgba(83,105,116,.7);
    margin-top: 6px;
}

header .bottom, header .top {
    transition: 0.2s;
}

.close {
    width: 30px;
    height: 3px;
    background-color: rgba(83,105,116,.7);
    transition: 0.2s;
    position: fixed;
    top: 34px;
    left: 18px;
}

#full-nav {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.97);
    z-index: 100;
    padding: 169px 0;
    box-sizing: border-box;
    transition: 0.1s;
}

#full-nav div {
    width: fit-content;
}

#logo {
    padding: 0px 32px;
    width: 129px;
    height: 129px;
    z-index: 200;
}

#logo a {
	padding: 0;
}

/*slider*/

.image-wrapper {
	display: none;
}

.image-wrapper.slider-current {
	display: block;
}

.image-wrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#jslider {
	width: 100%;
	height: 600px;
    position: relative;
    user-select: none;
    -webkit-animation: onload-appear 1s;
    animation-delay: 2s;
    opacity: 0;
    display: none;
}

#jslider.ready {
    display: block;
}

#webslider {
	width: 100%;
    height: 500px;
    position: relative;
    user-select: none;
}

.slides-wrapper {
	width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

.slider-control {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-wrapper {
	width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-animation: appear 1s;
}

#webslider .slider-prev-button {
	position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}

#webslider .slider-prev-button:before {
    color: white;
    font-size: 32px;
    font-family: Space;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    content: "\e02c";
}

#webslider .slider-next-button {
	position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}

#webslider .slider-next-button:before {
    color: white;
    font-size: 32px;
    font-family: Space;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    content: "\e02d";
}

#webslider .slider-indicators {
    position: absolute;
    top: 90%;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    width: 56px;
    justify-content: space-between;
}

#webslider .slider-indicators .slider-indicator {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.1);
    cursor: pointer;
    background-color: rgba(255,255,255,.1);
}

#webslider .slider-indicator.slider-indicator-active {
    background: #fff;
}

/**/

.intro {
	background-color: #231f20;
	text-align: center;
}

.intro h2 {
	color: #d7b49e;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280%;
    line-height: 1.05;
}

.intro h2:after {
	content: "";
	border-bottom: 4px solid #5d6770;
	display: block;
	width: 100px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translatex(-50px);
}

.intro p {
	font-family: "Marck Script", cursive;
	color: #fff;
    font-size: 180%;
    padding: 0 20%;
}

.services {
	position: relative;
	width: 100%;
}

.services .back {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;	
}

.services img{
	width: 100%;
    height: 100%;
}

.services h2 {
	margin: 1em 0;
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	font-size: 50px;
}

.services p {
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 18px;
    margin-bottom: -6px;
    -webkit-margin-after: -6px;
}

.services .list a {
	text-decoration: none;
	color: #fff;
}

.services .list p {
	display: block;
    border-bottom: 2px solid;
    font-size: 146px;
    margin-top: 10px;
    margin-bottom: -2px;
    -webkit-margin-before: 10px;
    -webkit-margin-after: -2px;
}

.services .list a:last-child {
	margin-bottom: 52px;
}

.advices {
    background-color: #edf4f7;
    width: 100%;
    padding: 40px 34px 30px 34px;
    box-sizing: border-box;
}

.advices p {
    margin-top: 24px;
    margin-bottom: 5.4px;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Roboto Thin";
    text-transform: uppercase;
    max-width: 1012px;
}

.advices p:first-child {
    margin-top: 0;
}

.advices p:last-child {
    margin-bottom: 0;
}

.advices p span {
    font-family: "Roboto Condensed";
    font-weight: bold;
}

.advices .break {
    width: 100%;
}

.gallery {
    overflow: hidden;
    width: 100%;
}

.gallery .image-box {
    width: 200px;
    height: 200px;
    margin: 17px 10px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}

.gallery .image-box img {
    height: 100%;
}

footer {
	width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    background: #231f20;
    padding: 68px 34px;
    color: white;
    box-sizing: border-box;
}

footer h3 {
	letter-spacing: 1px;
}

footer a {
	display: block;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-decoration: none;
    color: white;
}

